{% extends "base.html" %}

{% block content %}
<div class="text-center mt-5 pt-5">
    <h1 class="display-4 fw-bold text-white mb-3">Bóveda de Seguridad Corporativa</h1>
    <p class="lead text-light mb-5 px-md-5 mx-md-5">
        Plataforma centralizada para la gestión de credenciales. Diseñada bajo arquitectura 
        Zero-Trust e integrada con controles de auditoría forense y protección contra ataques de fuerza bruta.
    </p>
    
    <div class="d-flex justify-content-center gap-3 mb-5 pb-4">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg px-4 shadow">Iniciar Sesión</a>
        <a href="{{ url_for('register') }}" class="btn btn-outline-light btn-lg px-4">Registro de Usuario</a>
    </div>
</div>

<div class="row mt-5 pt-3 border-top border-secondary">
    <div class="col-md-4 mb-4">
        <h4 class="text-info fw-bold">Autenticación Robusta</h4>
        <p class="text-secondary">Integración con Autenticación de Dos Factores (MFA) vía TOTP y políticas de contraseñas de alta entropía con mitigación de ataques online.</p>
    </div>
    <div class="col-md-4 mb-4">
        <h4 class="text-info fw-bold">Auditoría (Logs)</h4>
        <p class="text-secondary">Registro inmutable de eventos. Cada acción genera una traza forense en el servidor para cumplimiento normativo e incident response.</p>
    </div>
    <div class="col-md-4 mb-4">
        <h4 class="text-info fw-bold">Cifrado Zero-Knowledge</h4>
        <p class="text-secondary">Los datos se almacenan cifrados en reposo (AES-256). Exfiltración de respaldos protegida matemáticamente por PBKDF2 (600,000 iteraciones).</p>
    </div>
</div>
{% endblock %}